{
	# Completely disable ALL automatic HTTPS behaviors.
	auto_https off
	local_certs
	on_demand_tls {
		ask http://syncmusic-backend:8080/api/ok
	}
}

# (Snippet) Reusable routing
(syncmusic_proxy) {
	header -Strict-Transport-Security
	header Cache-Control "no-cache, no-store, must-revalidate"

	@api path /api/*
	handle @api {
		reverse_proxy syncmusic-backend:8080
	}

	@music path /music/*
	handle @music {
		reverse_proxy syncmusic-backend:8080
	}

	@auth path /realms/* /resources/* /admin/* /idp/* /static/* /js/* /css/* /health/* /robots.txt
	handle @auth {
		reverse_proxy syncmusic-keycloak:8080 {
			header_up X-Forwarded-Host {host}
			header_up X-Forwarded-Proto {scheme}
		}
	}

	handle {
		@dev_server expression {env.FRONTEND_DEV} != ""
		handle @dev_server {
			reverse_proxy syncmusic-frontend:5173
		}

		handle {
			root * /usr/share/caddy
			file_server
			try_files {path} /index.html
		}
	}
}

# EXPLICIT HTTP Block (Crucial for blocking redirects)
http://localhost, http://127.0.0.1, http://:80 {
	import syncmusic_proxy
}

# EXPLICIT HTTPS Block (For Tailscale/LAN and those who want HTTPS)
https://localhost, https://127.0.0.1, https://:443 {
	tls internal {
		on_demand
	}
	import syncmusic_proxy
}

# WebTransport
:4433 {
}
